.logo {
  display: flex;
  flex-direction: row;
  padding: 20px 20px;
}

.logo h1 {
  padding: 0 20px;
}

.routeLinks {
  display: flex;
  width: 50vh;
  justify-content: space-evenly;
  position: relative;
  left: 105vh;
  top: 1vh;
}

/* navbar links  */
a {
  text-decoration: none;
  color: #0984e3;
}
