.logo {
  display: flex;
  flex-direction: row;
  padding: 20px 20px;
}

.logo h1 {
  padding: 0 20px;
}

/* navbar links  */
a {
  text-decoration: none;
  color: #0984e3;
}

.container_nav {
  display: flex;
  justify-content: space-between;
  width: 99%;
}

.routeLinks {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  width: 50vh;
}
