.Joined_mission_container {
  border: 1px solid #dee2e6;
  width: 50vh;
  height: 40vh;
}

.my_missions {
  padding: 0 40px;
}

.list_mission {
  padding: 20px 10px;
  border-bottom: 1px solid #dee2e6;
}

.profileContainer {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
}

.rocketReserved {
  width: 100%;
  padding: 5px;
  border: 1px solid gray;
}
