.article {
  display: flex;
  align-items: flex-start;
  column-gap: 40px;
  margin-bottom: 40px;
}

.img {
  width: 300px;
  height: 250px;
}

.title {
  margin: 0;
}

.span {
  background: rgb(3, 166, 76);
  color: #fff;
  padding: 4px 9px;
  border-radius: 4px;
  margin-right: 5px;
}

.reserve,
.unreserve {
  background-color: rgb(24, 145, 44);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.unreserve {
  /* background: #e60000; */
  color: white;
  font-weight: bold;
}

.rocketDetails {
  line-height: 1.5;
  width: 90%;
}

.container {
  width: 90%;
  margin: auto;
}
