article {
  margin: 2% 0;
  display: flex;
  align-items: flex-start;
  column-gap: 20px;
}

.img {
  width: 25%;
}

.title {
  margin: 0;
}

.span {
  background: rgb(27, 158, 191);
  color: #fff;
  padding: 4px 12px;
  border-radius: 10px;
  margin-right: 5px;
}

.reserve,
.unreserve {
  background-color: rgb(30, 135, 255);
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 1.5% 3%;
  cursor: pointer;
}

.unreserve {
  background: #fff;
  color: #000;
  border: 1px solid gray;
}

.rocketDetails {
  line-height: 1.5;
}
